global
    daemon
    maxconn 4096

defaults
    mode http
    timeout connect 1s
    timeout client 30s
    timeout server 30s
    option dontlognull
    option http-keep-alive

frontend rinha
    bind :9999
    default_backend api

backend api
    balance roundrobin
    server api1 /sockets/api1.sock
    server api2 /sockets/api2.sock
